<%= form_for @hotel, local: true, html: { class: "form", multipart: true } do |form| %>

  <% if @hotel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hotel.errors.count, "error") %> prohibited this hotel from being saved:</h2>
      <ul>
        <% @hotel.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="forms">

    <div class="row mb-3">
      <div class="col-md-6">
        <%= form.label :name, class: "form-label" %>
        <%= form.text_field :name, class: "form-control", placeholder: "Hotel Name", required: true %>
        <% if @hotel.errors[:name].any? %>
          <div class="text-danger">
            <%= @hotel.errors[:name].first %>
          </div>
        <% end %>
      </div>

      <div class="col-md-6">
        <%= form.label :city, class: "form-label" %>
        <%= form.text_field :city, class: "form-control", placeholder: "City", required: true %>
        <% if @hotel.errors[:city].any? %>
          <div class="text-danger">
            <%= @hotel.errors[:city].first %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-6">
        <%= form.label :country, class: "form-label" %>
        <%= form.text_field :country, class: "form-control", placeholder: "Country", required: true %>
        <% if @hotel.errors[:country].any? %>
          <div class="text-danger">
            <%= @hotel.errors[:country].first %>
          </div>
        <% end %>
      </div>

      <div class="col-md-6">
        <%= form.label :state, class: "form-label" %>
        <%= form.text_field :state, class: "form-control", placeholder: "State" %>
        <% if @hotel.errors[:state].any? %>
          <div class="text-danger">
            <%= @hotel.errors[:state].first %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="mb-3">
      <%= form.label :address, class: "form-label" %>
      <%= form.text_field :address, class: "form-control", placeholder: "Address", required: true %>
      <% if @hotel.errors[:address].any? %>
        <div class="text-danger">
          <%= @hotel.errors[:address].first %>
        </div>
      <% end %>
    </div>

    <div class="row mb-3">
      <div class="col-md-6">
        <%= form.label :loc_lat, class: "form-label" %>
        <%= form.text_field :loc_lat, class: "form-control", placeholder: "0.0", required: true %>
        <% if @hotel.errors[:loc_lat].any? %>
          <div class="text-danger">
            <%= @hotel.errors[:loc_lat].first %>
          </div>
        <% end %>
      </div>

      <div class="col-md-6">
        <%= form.label :loc_long, class: "form-label" %>
        <%= form.text_field :loc_long, class: "form-control", placeholder: "0.0", required: true %>
        <% if @hotel.errors[:loc_long].any? %>
          <div class="text-danger">
            <%= @hotel.errors[:loc_long].first %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-6">
        <%= form.label :rating, class: "form-label" %>
        <%= form.number_field :rating, step: 0.1, class: "form-control", placeholder: "5" %>
        <% if @hotel.errors[:rating].any? %>
          <div class="text-danger">
            <%= @hotel.errors[:rating].first %>
          </div>
        <% end %>
      </div>

      <div class="col-md-6">
        <%= form.label :price, class: "form-label" %>
        <%= form.number_field :price, class: "form-control", placeholder: "0" %>
        <% if @hotel.errors[:price].any? %>
          <div class="text-danger">
            <%= @hotel.errors[:price].first %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-6">
        <%= form.label :discounted_price, class: "form-label" %>
        <%= form.number_field :discounted_price, class: "form-control", placeholder: "0" %>
        <% if @hotel.errors[:discounted_price].any? %>
          <div class="text-danger">
            <%= @hotel.errors[:discounted_price].first %>
          </div>
        <% end %>
      </div>

      <div class="col-md-6">
        <%= form.label :bed, class: "form-label" %>
        <%= form.number_field :bed, class: "form-control", placeholder: "0" %>
        <% if @hotel.errors[:bed].any? %>
          <div class="text-danger">
            <%= @hotel.errors[:bed].first %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-6">
        <%= form.label :living_room, class: "form-label" %>
        <%= form.number_field :living_room, class: "form-control", placeholder: "0" %>
        <% if @hotel.errors[:living_room].any? %>
          <div class="text-danger">
            <%= @hotel.errors[:living_room].first %>
          </div>
        <% end %>
      </div>

      <div class="col-md-6">
        <%= form.label :bathroom, class: "form-label" %>
        <%= form.number_field :bathroom, class: "form-control", placeholder: "0" %>
        <% if @hotel.errors[:bathroom].any? %>
          <div class="text-danger">
            <%= @hotel.errors[:bathroom].first %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-6">
        <%= form.label :kitchen, class: "form-label" %>
        <%= form.number_field :kitchen, class: "form-control", placeholder: "0" %>
        <% if @hotel.errors[:kitchen].any? %>
          <div class="text-danger">
            <%= @hotel.errors[:kitchen].first %>
          </div>
        <% end %>
      </div>

      <div class="col-md-6">
        <%= form.label :reserved_room, class: "form-label" %>
        <%= form.number_field :reserved_room, class: "form-control", placeholder: "0" %>
        <% if @hotel.errors[:reserved_room].any? %>
          <div class="text-danger">
            <%= @hotel.errors[:reserved_room].first %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="mb-3">
      <%= form.label :facilities, class: "form-label" %>
      <%= form.text_area :facilities, class: "form-control", placeholder: "Facilities" %>
      <% if @hotel.errors[:facilities].any? %>
        <div class="text-danger">
          <%= @hotel.errors[:facilities].first %>
        </div>
      <% end %>
    </div>

    <div class="mb-3">
      <%= form.label :paragraphs, class: "form-label" %>
      <%= form.text_area :paragraphs, class: "form-control", placeholder: "Description" %>
      <% if @hotel.errors[:paragraphs].any? %>
        <div class="text-danger">
          <%= @hotel.errors[:paragraphs].first %>
        </div>
      <% end %>
    </div>

    <div class="mb-3">
      <%= form.label :images, class: "form-label" %>
      <%= form.file_field :images, multiple: true, class: "form-control hei" %>
      <% if @hotel.errors[:images].any? %>
        <div class="text-danger">
          <%= @hotel.errors[:images].first %>
        </div>
      <% end %>
    </div>

    <div class="mb-3">
      <%= form.label :base_image, class: "form-label" %>
      <%= form.file_field :base_image, class: "form-control hei" %>
      <% if @hotel.errors[:base_image].any? %>
        <div class="text-danger">
          <%= @hotel.errors[:base_image].first %>
        </div>
      <% end %>
    </div>

    <div class="field">
      <% @hotel.images.each do |image| %>
        <div class="existing-image">
          <%= image_tag image, class: "hotel-image" %>
          <%= link_to "Delete", delete_image_hotel_path(@hotel, image), data: { "turbo-method": :delete }, class: "btn btn-danger" %>
        </div>
      <% end %>
    </div>

    <div class="">
      <%= form.submit "Save Hotel", class: "btn btn-primary bg-dark mt-3" %>
    </div>

  </div>

<% end %>
