<%= form_for hotel, local: true,  html: { class: "form ", multipart: true }  do |form| %>
  <% if hotel.errors.any? %>
    <div id="error_explanation">
      <h2 ><%= pluralize(hotel.errors.count, "error") %> prohibited this hotel from being saved:</h2>
      <ul>
        <% hotel.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

 
 <div class="forms">
 

  <div class="row mb-3">
    <div class="col-md-6">
      <%= form.label :name, class: "form-label" %>
<%= form.text_field :name, class: "form-control", placeholder: "John" %>
    </div>

    <div class="col-md-6">
      <%= form.label :city, class: "form-label" %>
      <%= form.text_field :city, class: "form-control", placeholder: "City" %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-6">
      <%= form.label :country, class: "form-label" %>
      <%= form.text_field :country, class: "form-control" , placeholder: "Country" %>
    </div>

    <div class="col-md-6">
      <%= form.label :state, class: "form-label" %>
      <%= form.text_field :state, class: "form-control" , placeholder: "State" %>
    </div>
  </div>

  <div class="mb-3">
    <%= form.label :address, class: "form-label" %>
    <%= form.text_field :address, class: "form-control" , placeholder: "Address" %>
  </div>

  <div class="row mb-3">
    <div class="col-md-6">
      <%= form.label :loc_lat, class: "form-label" %>
      <%= form.text_field :loc_lat, class: "form-control" , placeholder: "0.0" %>
    </div>

    <div class="col-md-6">
      <%= form.label :loc_long, class: "form-label" %>
      <%= form.text_field :loc_long, class: "form-control" , placeholder: "0.0" %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-6">
      <%= form.label :rating, class: "form-label" %>
      <%= form.number_field :rating, step: 0.1, class: "form-control" , placeholder: "5" %>
    </div>

    <div class="col-md-6">
      <%= form.label :price, class: "form-label" %>
      <%= form.number_field :price, class: "form-control" , placeholder: "0" %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-6">
      <%= form.label :discounted_price, class: "form-label" %>
      <%= form.number_field :discounted_price, class: "form-control" , placeholder: "0" %>
    </div>

    <div class="col-md-6">
      <%= form.label :bed, class: "form-label" %>
      <%= form.number_field :bed, class: "form-control" , placeholder: "0" %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-6">
      <%= form.label :living_room, class: "form-label" %>
      <%= form.number_field :living_room, class: "form-control" , placeholder: "0" %>
    </div>

    <div class="col-md-6">
      <%= form.label :bathroom, class: "form-label" %>
      <%= form.number_field :bathroom, class: "form-control" , placeholder: "0" %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-6">
      <%= form.label :kitchen, class: "form-label" %>
      <%= form.number_field :kitchen, class: "form-control" , placeholder: "0" %>
    </div>

    <div class="col-md-6">
      <%= form.label :reserved_room, class: "form-label" %>
      <%= form.number_field :reserved_room, class: "form-control" , placeholder: "0" %>
    </div>
  </div>

  <div class="mb-3">
    <%= form.label :facilities, class: "form-label" %>
    <%= form.text_area :facilities, class: "form-control" , placeholder: "facilities" %>
  </div>

  <div class="mb-3">
    <%= form.label :paragraphs, class: "form-label" %>
    <%= form.text_area :paragraphs, class: "form-control" , placeholder: "Descripition" %>
  </div>

  <div class="mb-3">
    <%= form.label :images, class: "form-label" %>
    <%= form.file_field :images, multiple: true, class: "form-control hei"  %>
  </div>

    <div class="mb-3">
    <%= form.label :base_image, class: "form-label" %>
    <%= form.file_field :base_image, class: "form-control hei" %>
  </div>


  <div class="field">
    <% @hotel.images.each do |image| %>
      <div class="existing-image">
        <%= image_tag image, class: "hotel-image" %>
        <%= link_to "Delete", delete_image_hotel_path(@hotel, image), data: { "turbo-method": :delete }, class: "btn btn-danger" %>
      </div>
    <% end %>
  </div>

  
  <div class="">
    <%= form.submit "Save Hotel", class: "btn btn-primary bg-dark mt-3" %>
  </div>
  

<% end %>

 </div>
