<h1>Hotels</h1>
<% if admin_signed_in? %>
  <%= link_to 'New Hotel', new_hotel_path, class: 'btn btn-primary mb-3' %>
<% end %>

<div class="list-group">
  <% @hotels.each do |hotel| %>
    <a href="<%= hotel_path(hotel) %>" class="border">
      
      <div class="flex">
      <div>
        <h5 class="mb-1"><%= hotel.name %></h5>
        <p class="mb-1 text-muted discription "><%= hotel.city %>, <%= hotel.state %>, <%= hotel.country %></p>
        <small>Rating: <%= hotel.rating %></small>

      </div>
      <div>
        <% if hotel.base_image.present? %> <%= image_tag hotel.base_image, class: "img-fluid img" %> <%end%>
      </div>
     </div>
     <div class="m-4">
<% if admin_signed_in? %>
          <%= link_to 'Edit', edit_hotel_path(hotel), class: 'btn btn-secondary px-4 ' %>
          <%= link_to 'Destroy', hotel_path(hotel), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger', "data-turbo-method": :delete %>
      
      <% end %>
     </div>
            
    </a>
  <% end %>
</div>
